[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
mysql-connector-python = "*"
mysql-connector = "*"
mysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
